.header-container {
    display: flex;
    justify-content: space-around;
    background-color: #0e47cc;
}

.portfolio-logo {
    font-style: italic;
    font-size: 20px;
    border: 2px solid blanchedalmond;
    border-radius: 5px;
    padding: 10px;
    color: aliceblue;
    cursor: pointer;
    
}

.portfolio-logo:hover{
    /* animation: border-animation 0.3s linear infinite; */
    border-color: #3cff33; /* Green border color on hover */
    box-shadow: 0 0 10px rgba(0, 128, 0, 0.5); /* Green shadow effect on hover */
    animation: rotateAnimation 2s linear infinite;
}

@keyframes rotateAnimation {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.left-nav-container {
    display: flex;
    justify-content: start;
    width: 30%;
}

.right-nav-container {
    display: flex; 
    justify-content: space-around;
    width: 35%;
}

.nav-tab {
    cursor: pointer;
    font-size: 18px;
    color: aliceblue;
}

.nav-tab:hover{
    cursor: pointer;
    font-size: 20px;
    color: yellow;
}

.active {
    color: aliceblue;
    font-weight: bold;
    font-size: 20px;
    border-bottom: 2px solid aliceblue;
}